body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #333;
    color: white;
    padding: 15px;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    text-align: center;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.main-content h2 {
    margin-top: 0;
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

input, select {
    padding: 10px;
    margin-top: 5px;
    width: calc(100% - 22px);
}

label {
    display: block;
    margin-top: 10px;
}
#exerciseChart {
    width: 50%; /* Fill the container width */
    height: 50%; /* Fill the container height */
    max-width: 80px; /* Optional: set a max width */
    max-height: 50px; /* Optional: set a max height */
}


#stop-button {
    float: right;
    margin-right: 10px; /* Optional: add some spacing from the right edge */
}
