<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Workout | Auth</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Style.css') }}">

</head>
<body>
    <div class="auth-container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p style="color: red;">{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>
</body>
</html>
