{% extends "auth_base.html" %}

{% block content %}
<div class="login-wrapper">
    <div class="login-box">
        <h1>Welcome to Smart Workout Counter</h1>
        <form method="POST" action="{{ url_for('login') }}">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>

            <button type="submit">Sign In</button>
        </form>

        <div class="link-text">
            Don't have an account? <a href="{{ url_for('signup') }}">Sign Up here</a>
        </div>

    </div>
</div>
{% endblock %}
